.footer-misc
{
    background-color: #ecf0f1;
}

.footer-misc a 
{
    color: black;
}

.footer-misc-navigation ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;

    margin: 0px;
    padding: 0px;
}

.footer-misc-navigation ul li
{
    list-style: none;

    text-transform: uppercase;

    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 8px;
    margin-left: 8px;
    

}

.footer-misc-navigation ul li a
{
    font-size: 12px;
    text-decoration: none;
    
    font-family: 'Raleway';

}