footer p
{
    color:white;
    
    font-family: 'Open Sans';
    font-size: 12px;
    margin:0px;
    padding:0px;
}

.footer-misc
{
    background-color: #ecf0f1;
}

.footer-misc a 
{
    color: black;
}

.footer-misc-navigation ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;

    margin: 0px;
    padding: 0px;
}

.footer-misc-navigation ul li
{
    list-style: none;

    text-transform: uppercase;

    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 8px;
    margin-left: 8px;
    

}

.footer-misc-navigation ul li a
{
    font-size: 12px;
    text-decoration: none;
    
    font-family: 'Open Sans';

}

.footer-link a
{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Open Sans';
    
    text-transform: uppercase;
}


.footer-link ul 
{
    margin: 0px;
    padding: 0px;
}

.footer-link li
{
    list-style: none;
}

.footer-social a
{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Open Sans';
    
    text-transform: uppercase;
}

.footer-social ul
{
    padding: 0px;
    margin: 0px;
}

.footer-social li 
{
    list-style: none;
}

.footer-social
{
    list-style: none;
}

.footer-made-using 
{
    list-style: none;   
    margin: 0px;
    padding: 0px;
}

.footer-made-using li a
{
    color:white;
    font-family: 'Open Sans';
    text-transform: uppercase;

}

.footer-built-with
{
    margin: 0px;
    padding: 0px;
}


.footer-built-with p
{
    color:white;
    
    font-family: 'Open Sans';
}

.footer-built-with li
{
    list-style: none;

}

.footer-built-with li a 
{
    
    text-transform: uppercase;
    color:white;
    
    font-family: 'Open Sans';
}