// #2ecc71
// #e67e22
// #e74c3c

// Hover: #4cd137
// Background: #353b48
// Background 2: #487eb0

body 
{
      background-color: #353b48;
      
      display: grid;
      grid-template-rows: auto auto auto;
      grid-template-columns: auto;
      
      margin: 0px;
      padding: 0px;

      grid-gap: 32px;
}

.page-boundary
{
      width: 1080px;
      margin-right: auto;
      margin-left: auto;
}

header 
{
      
}

header a 
{
      color: white;
}

main 
{
      background-color: rgba($color: black, $alpha: 0.4);
      min-height:200px;
}

footer 
{
      background-color: rgba($color: black, $alpha: 0.4);
      min-height:200px;
}

@import './menu.scss';

@import './header.scss';
@import './main.scss';
@import './footer.scss';

@import './rules.scss';