body
{
  display: grid;

  grid-template-rows: auto auto auto;
  grid-gap: 64px;

  margin: 0px;
  padding: 0px;
}

header
{


}

main
{


}

.dashboard-area
{

}

.author-cited-from
{
  width: 400px;
  margin-left: auto;
  margin-right: auto;

  border:1px solid black;
}

.title
{
  font-family: "Philosopher";
  text-align: center;
  margin: 0px;
  margin-bottom: 8px;
  margin-top: 8px;
  text-transform: uppercase;;
}

.subtitle
{
  font-family: "Philosopher";
  text-align: center;
  margin: 0px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.author
{
  font-family: "Comfortaa";
  text-align: center;
  margin: 0px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.area
{
  display: grid;

  width: 100%;

  margin-top: 32px;
  margin-bottom: 32px;

  grid-gap: 32px;
  grid-template-columns: 1fr 1fr;
}

.rule-listed
{
  display: flex;
  flex-direction: row;

  margin-top: 32px;
  margin-bottom: 32px;

  justify-content: center;
}

.header-navigation
{
  padding-top: 8px;
  padding-bottom: 8px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid black;
}


.link 
{
  color:black;

  transition-duration: 2000ms;
  text-decoration: none;

  display:flex;
  flex-direction: row;
  justify-content: center;

  margin-left: auto;
  margin-right: 16px;
  
  border:1px solid rgba($color: #000000, $alpha: 0.0);
}

.link p
{
  transition-duration: 2000ms;
  border-bottom:1px solid rgba($color:black, $alpha:0.0);
}

.link:hover p
{
  transition-duration: 2000ms;
  color: black;
  border-bottom:1px solid black;
}

.link i
{
  
  transition-duration: 2000ms;
  color: rgba($color:black, $alpha:0.0);
  


}


.link:hover i
{
  transition-duration: 2000ms;
  
  color: rgba($color:black, $alpha:1.0);


}


.link p 
{
  margin: 0px;
  text-transform: uppercase;
  margin-right: 8px;
}


.header-navigation div
{
  

}

.header-navigation #header_readmore
{
  justify-content: right;
}



.rule-listed:first-child
{
  margin-top: 0px;
}

.rule-listed:last-child
{
  margin-bottom: 0px;
}

.rule-listed .listed
{
  font-weight: bold;
  margin-left: 2px;
  margin-right: 2px;
}

.rule-listed p
{
  font-size: 18px;

  margin: 0px;
  padding-top: 4px;
  padding-bottom: 4px;

  margin-left: 4px;
  margin-right:4px;
}

.rule-listed p:first-child
{
  margin-left: 0px;
  margin-right: 8px;
}

.rule-listed p:last-child
{
  margin-left: 8px;
  margin-right: 0px;
}

.rule-text
{
    font-family: "Philosopher";

}


.dashboard-area-list-element li p
{
  margin: 0px;
  padding: 0px;
}

.rule-list-container
{
  margin: 0px;
  padding: 0px;

}

footer
{
  height: 100px;
  border-top: 1px solid black;



}

.rule-copy-marker
  {
    display: none;
    
  }

@media only screen and (max-width: 1024px) {
  body {
    
  }

  

  
.author-cited-from
{
  width: 325px !important;
}

  .area
  {
    margin-top: 64px;

    grid-gap: 32px !important;
    
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr !important;
  }

  .rule-listed
  {
    
    margin-top: 32px;
    margin-bottom: 32px;
    
  }
}